<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <span class="navbar-brand">admin panel</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04"
            aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor04">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="http://localhost:4000/api/v1/admin">Dashboard
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:4000/api/v1/admin/adminproduct">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:4000/api/v1/admin/adminuser">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:4000/api/v1/admin/admincategory">Category</a>
                </li>
            </ul>
        </div>
    </div>
</nav>